<form class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" class="form-control" placeholder="Search" formControlName="query">

  <p *ngIf="queryForm.pending">Please wait... validating...</p>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">

      <div *ngIf="field.hasError('required')">
        Field is required
      </div>
      
      <div *ngIf="field.getError('minlength') as error">
        Minimum length is {{error.requiredLength}} characters
      </div>
      
      <div *ngIf="field.getError('censor') as error">
        Values including {{error.badword}} are not allowed
      </div>
    </ng-container>    

  </ng-container>
</form>
