<!-- .row*2>.col -->
<div class="row">
  <div class="col">

    <app-search-form 
      (queryChange)="search($event)" 
      [query]="query$ | async">
    </app-search-form>

  </div>
</div>
<div class="row">
  <div class="col">
    <p *ngIf="message">{{message}}</p>

    <ng-container *ngIf="(albums$ | async) as albums">

      <p>Found {{albums.length}}</p>

      <app-albums-grid [albums]="albums">
      </app-albums-grid>

    </ng-container>

  </div>
</div>



<!-- <app-albums-grid [albums]="albums">
    <app-album-card *gridElemDef="let album" [album]="album">

    </app-album-card>
</app-albums-grid> -->
