<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" routerLinkActive="active placki" 
        [routerLinkActiveOptions]="{exact:true}" #rla="routerLinkActive"  routerLink="/">Music App</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active placki">
          <a class="nav-link" [routerLink]="['/music']">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki"  routerLink="/playlists">Playlists</a>
        </li>
      </ul>
    </div>

  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
