<!-- (mouseenter)="hover = playlist"
(mouseleave)="hover = null"
[style.border-left-color]="hover == playlist? playlist.color : ''" -->

<div class="list-group">

  <div *ngFor="let playlist of playlists; 
               let i = index; trackBy trackFn; even as even" [class.active]=" selected == playlist "
    (click)="select(playlist)" 
    
    [appHighlight]="playlist.color"

    class="list-group-item list-group-item-action">
    {{i+1}}. {{playlist.name}}
  </div>

</div>
