<div>
  <img class="card-img-top" 
       [src]="album.images[0].url">

  <div class="card-body">
    <h5 class="card-title">
      <!-- <input type="range" (input)="len = $event.target.value" max="30"> -->

      {{album.name | shorten}}
    </h5>
  </div>

</div>
