<div [ngSwitch]="mode">

  <div *ngSwitchDefault>
    <app-card>
      <div class="title">
        {{playlist.name}}
      </div>

      <dl>
        <dt>Name:</dt>
        <dd>{{playlist.name}}</dd>

        <dt>Favourite:</dt>
        <dd>{{playlist.favourite? 'Yes' : 'No'}}</dd>

        <dt>Color:</dt>
        <dd [style.background-color]="playlist.color">
          {{playlist.color}}
        </dd>
      </dl>

      <ng-container ngProjectAs="footer">
        <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
      </ng-container>

    </app-card>
  </div>


  <form *ngSwitchCase=" 'edit' " #formRef="ngForm">
    <div class="form-group">
      <label>Name: </label>
      <input type="text" class="form-control" [ngModel]="playlist.name" name="name">
    </div>

    <!-- <ng-container ngModelGroup="options"> -->

    <div class="form-group">
      <label>Favourite: </label>
      <input type="checkbox" [ngModel]="playlist.favourite" name="favourite">
    </div>

    <div class="form-group">
      <label>Color: </label>
      <input type="color" [ngModel]="playlist.color" name="color">
    </div>

    <!-- </ng-container> -->

    <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
    <input type="button" value="Save" class="btn btn-success" (click)="save(formRef)">

  </form>


</div>
